 /* body {
	background-color: rgb(98, 15, 54, 100);
	background: url('https://www.backpacker.com/.image/t_share/MTUyNTYwOTQxMTUyNjEwMDY2/15683193341_7a3594dd53_k.jpg');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	/* color: white; */
}

.tinted-image {
	height: 350px;
  	background: 
  	linear-gradient(
    rgba(255, 0, 0, 0.45), 
    rgba(255, 0, 0, 0.45)
  ),
  url(https://www.backpacker.com/.image/t_share/MTUyNTYwOTQxMTUyNjEwMDY2/15683193341_7a3594dd53_k.jpg);
  	background-size: cover;
}

h1 {
	font-size: 300pt;
	font-family: 'Roboto Slab', serif;
	margin: 0;
	padding: 0;
	color: black;
	text-align: center;
}

p {
	color: black;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.group {
	font-size: 60pt;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: black;
	margin: 0;
	padding: 0;
	text-align: center;
}

.header {
	color: rgb(114, 162, 202);
	font-weight: normal;
	font-style: italic;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
